* {
box-sizing: border-box;
}


body {
  background-image: url("stickers.jpeg");
  margin: 0px;
  padding: 0px;
  font-family: 'Patrick Hand';
  color: #ffb5da;
}


.navWrapper{
  border-radius: 25px;
  display: flex;
  justify-content: center;
  padding: 1vmin;
  margin: 6vmin;
  font-size: 4vmin;
  background-color: #DF600C;
}

.navMenu{
  display: flex;
  width: 50vmin;
  justify-content: space-between;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: #ba1a6a;
}

.activeLink{
  color: #ffa6c5;
}


.mainContainer{
  display: flex;
  flex-direction: row;
}

#sticker1{
  position: absolute;
  transform: rotate(10deg);
  width: 17%;
  top: 80%;
  right: 60%;
}


#sticker2{
  position: absolute;
  transform: rotate(20deg);
  width: 15%;
  top: 130%;
  right: 65%;
}

#sticker3{
  position: absolute;
  width: 15%;
  top: 60%;
  right: 75%;
}

#sticker4{
  position: absolute;
  transform: rotate(10deg);
  width: 15%;
  top: 55%;
  right: 20%;
}

#sticker5{
  position: absolute;
  transform: rotate(30deg);
  width: 15%;
  top: 160%;
  right: 55%;
}

#sticker6{
  position: absolute;
  width: 15%;
  top: 110%;
  right: 65%;
}

#sticker7{
  position: absolute;
  transform: rotate(350deg);
  width: 12%;
  top: 80%;
  right: 86%;
}

#sticker8{
  position: absolute;
  width: 15%;
  top: 110%;
  right: 85%;
}

#sticker9{
  position: absolute;
  width: 15%;
  top: 55%;
  right: 63%;
}

#sticker10{
  position: absolute;
  transform: rotate(20deg);
  width: 15%;
  top: 60%;
  right: 5%;
}

#sticker11{
  position: absolute;
  transform: rotate(20deg);
  width: 10%;
  top: 75%;
  right: 35%;
}

#sticker12{
  position: absolute;
  width: 15%;
  top: 157%;
  right: 3%;
}

#sticker13{
  position: absolute;
  transform: rotate(-20deg);
  width: 20%;
  top: 130%;
  right: 85%;
}

#sticker14{
  position: absolute;
  width: 15%;
  top: 70%;
  right: 3%;
}

#sticker15{
  position: absolute;
transform: rotate(-20deg);
  width: 15%;
  top: 74%;
  right: 52%;
}


.contentContainer{
  display: flex;
	background-image: url("collage.jpeg");
  padding: 2vmin;
  flex-wrap: wrap;
  object-fit: contain;
  justify-content: space-around;

}
.contentContainer div{
  border-radius: 25px;
  width: 30%;
  object-fit: contain;
  background-color: #ff9f87;
  color: #ba1a6a;
  padding: 2vmin;
  margin: 2vmin;
  font-size: 4vmin;
  align-items: center;
  align-self: center;
}

.contentContainer .caption{
  text-align: center;
  font-size: 3vmin;
}

.contentContainer .gifs{
  display: flex;
  width: 30%;
  flex-wrap: nowrap;
  justify-content: space-between;

}



.contentContainer .textBox{
  align-self: center;
  font-size: 4vmin;
  padding: 3vmin;
  background-color: #ba1a6a;
  color: white;
  width: 60%;
}


.header{
  border-radius: 25px;
  display: flex;
  padding: 2vmin;
  margin: 10vmin;
  color: #ba1a6a;
  font-size:8vmin;
  background-image: linear-gradient(#DF600C, #ff9f87, #ffa6c5);
white-space: nowrap;
  align-self: center;
  justify-content: center;
  text-align: center;
  font-family: "Shizuru";
}

.header img{
  padding: 2vmin;
  width: 20%;
  align-self: center;
}


.mainContainer img {
  border-radius: 25px;
  width: 100%;
  flex-flow: column wrap;
  justify-content: space-around;
}



.footer *{
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}

.footer img{
  width: 15%;
}
